<main>
  <section class="adicionando-transacao">
    <form>
      <h2>Nova transação</h2>

      <label for="tipoTransacao">Tipo de transação</label>
      <select name="tipoTransacao">
        <option></option>
        <option>Crédito</option>
        <option>Débito</option>
      </select>
      <!-- <input type="text" name="tipoTransacao"> -->

      <label for="nomeMercadoria">Nome da mercadoria</label>
      <input type="text" name="nomeMercadoria">

      <label for="valor">Valor</label>
      <input type="text" name="valor">

      <!-- <button>Adicionar transação</button> -->
      <input type="submit" class="button" value="Adicionar transação">
    </form>
  </section>

  <section class="extrato-transacoes">
    <section>
      <h2>Extrato de transações</h2>

      <section class="table-header">
        <div>Mercadoria</div>
        <div>Valor</div>
      </section>

      <section class="table-content">
        <div class="table-content-align">Lorem ipsum dolor sit amet consectetur</div>
        <div>R$12.999,99</div>

        <div class="table-content-align">Quis nostrud exercitation</div>
        <div>R$99,99</div>

        <div class="table-content-align">Lorem ipsum</div>
        <div>R$9,99</div>
      </section>

      <section class="table-footer">

      </section>

    </section>
    <!-- <table>
      <thead>
        <tr>
          <th>Mercadoria</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur</td>
          <td>R$12.999,99</td>
          <td>Quis nostrud exercitation</td>
          <td>R$99,99</td>
          <td>Lorem ipsum</td>
          <td>R$9,99</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>R$12.909,99</td>
        </tr>
      </tfoot>
    </table> -->

  </section>
</main>
